<% @kittens.each do |kitten| %>
  <div class="kitten">
    <li>
      <div class="name">
        <%= kitten.name %>
      </div>
      <%= link_to "Delete", kitten_path(@kitten), data: {
              turbo_method: :delete,
              turbo_confirm: "Are you sure?"
            } %>
    </li>
  </div>
<% end %>